# Name: Raj Randive
# Roll Number: 21BCP378

# Q-1] Practice all the examples for List, Tuple, Set and Dictionaries. provided in the attached pdf and submit the notebook.

# (a) list.

In [14]:
l = ["Car", 1, 3, "Computer", "Samsung", 5 ]
print(type(l))
print(l)

<class 'list'>
['Car', 1, 3, 'Computer', 'Samsung', 5]

In [3]:
l.append("Raj")
print(l)

['Car', 1, 3, 'Computer', 'Samsung', 5, 'Raj']

In [4]:
list = ["apple", "banana", "cherry"]
list[1:3] = ["watermelon"] 
print(list)

['apple', 'watermelon']

In [7]:
list = ["apple", "banana", "cherry"] 
list.insert(1, "watermelon") 
print(list)

['apple', 'watermelon', 'banana', 'cherry']

In [8]:
list = ["apple", "banana", "cherry"] 
list.append("Mango") 
print(list)

['apple', 'banana', 'cherry', 'Mango']

In [9]:
list1 = ["apple", "banana", "cherry"]
list2 = ["Mango", "Pineapple", "Kiwi", "orange"]
list1.extend(list2) 
print(list1)

['apple', 'banana', 'cherry', 'Mango', 'Pineapple', 'Kiwi', 'orange']

In [10]:
list3 = ["apple", "banana", "cherry"]
tuple1 = ["Berries", "peaches", "grapefruits"]
list3.extend(tuple1)
print(list3)

['apple', 'banana', 'cherry', 'Berries', 'peaches', 'grapefruits']

In [11]:
list = ["apple", "banana", "cherry"]
list.remove("banana") 
print(list)

['apple', 'cherry']

In [12]:
list = ["apple", "banana", "cherry"]
list.pop(1)
print(list)

['apple', 'cherry']

Q-] If you do not specify the index, what does pop() do?

Ans: It will remove the last item in the dictionary (By default).

In [13]:
list = ["apple", "banana", "cherry"]
list.pop()
print(list)

['apple', 'banana']

In [14]:
list = ["apple", "banana", "cherry"] 
del list[1]
print(list)

['apple', 'cherry']

In [23]:
l = ["apple", "banana", "cherry"]
print(l) 
del l 
print(l)

['apple', 'banana', 'cherry']

NameError: name 'l' is not defined

In [24]:
l = ["apple", "banana", "cherry"]
l.clear() 
print(l)

[]

# (b) Loop through a List.

In [28]:
l = ["apple", "banana", "cherry"] 
for i in l:
    print(i)

apple
banana
cherry

In [32]:
l = ["apple", "banana", "cherry"] 
i = 0
while i < len(l):
    print(l[i])
    i=i+1

apple
banana
cherry

In [34]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for i in fruits:
    if "a" in i:
        newlist.append(i)
        print(i)

apple
banana
mango

In [2]:
l = ["apple", "banana", "carrot", "dragonfruit", "elephant"]
if "elephant" in l:
    x = l.index("elephant")
print(f"The index of elephant is: {x+1}")
nl = ["Raj" for i in l]
print(nl)

The index of elephant is: 5
['Raj', 'Raj', 'Raj', 'Raj', 'Raj']

# (c) Python Tuples

In [4]:
t = ("apple", "banana", "cherry") 
print(t)
print(t[1])

('apple', 'banana', 'cherry')
banana

In [6]:
t1 = ("apple", "banana", "cherry")
t2 = list(t1)
t2[1] = "Kiwi"
t1 = tuple(t2)

print(t1)

('apple', 'Kiwi', 'cherry')

In [8]:
t1 = ("apple", "banana", "cherry")
t2 = list(t1)
t2.append("Kiwi")
t1 = tuple(t2)

print(t1)

('apple', 'banana', 'cherry', 'Kiwi')

In [12]:
t = ("apple", "banana", "cherry") 
for i in t:
    print(i)

apple
banana
cherry

In [13]:
t = ("apple", "banana", "cherry") 
for i in range(len(t)): 
    print(t[i])

apple
banana
cherry

In [15]:
t1 = ("a", "b" , "c")
t2 = (1, 2, 3)
t3 = t1 + t2
print(t3)

('a', 'b', 'c', 1, 2, 3)

In [16]:
fruits = ("apple", "banana", "cherry")
t = fruits *2 
print(t)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# (d) Sets

In [17]:
myset = {"apple", "banana", "cherry"} 
print(myset)

{'apple', 'banana', 'cherry'}

In [18]:
myset = {"apple", "banana", "cherry"}
for x in myset: 
    print(x)

apple
banana
cherry

In [19]:
myset = {"apple", "banana", "cherry"}
myset.add("orange") 
print(myset)

{'apple', 'orange', 'banana', 'cherry'}

In [20]:
myset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
myset.update(tropical)
print(myset)

{'pineapple', 'banana', 'papaya', 'apple', 'mango', 'cherry'}

In [21]:
myset = {"apple", "banana", "cherry"}
myset.remove("banana") 
print(myset)

{'apple', 'cherry'}

In [22]:
myset = {"apple", "banana", "cherry"}
myset.discard("banana") 
print(myset)

{'apple', 'cherry'}

In [24]:
myset = {"apple", "banana", "cherry"} 
for x in myset:
    print(x)

apple
banana
cherry

In [32]:
s1 = {"a", "b" , "c"} 
s2 = {1, 2, 3}
s3 = s1.union(s2)
print(s3)

{1, 2, 3, 'a', 'b', 'c'}

# (e) Dictionary.

In [38]:
d = {"brand": "Ford",  "model": "Mustang"  ,  "year": 1964}
print(d)
print(d["brand"])
x = d.get("model")
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
Mustang

In [40]:
car = {"brand": "Ford","model": "Mustang", "year": 1964 }
x = car.keys()
print(x) #before the change 
car["color"] = "white" 
print(x) #after the change
print(car)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

# Q-2] Write a Python program to read the admission number and names of 10 students from the keyboard. Create a dictionary of these admission number and names and then display them on the screen

In [64]:
My_dict={}
for i in range(1,11):
    Admission_No=int(input("Enter admission number: "))
    Name = input("Enter name: ")
    My_dict[Admission_No]=Name
    print("\n")
    
for keys,values in My_dict.items():
    print(keys ,":", values)
    print("\n")

Enter admission number:  1001
Enter name:  Mark

Enter admission number:  1002
Enter name:  Bethany

Enter admission number:  1003
Enter name:  Kol

Enter admission number:  1004
Enter name:  Klaus

Enter admission number:  1005
Enter name:  Josh

Enter admission number:  1006
Enter name:  Robert

Enter admission number:  1007
Enter name:  Barry

Enter admission number:  1008
Enter name:  Julian

Enter admission number:  1009
Enter name:  Clark

Enter admission number:  1010
Enter name:  Ben

1001 : Mark


1002 : Bethany


1003 : Kol


1004 : Klaus


1005 : Josh


1006 : Robert


1007 : Barry


1008 : Julian


1009 : Clark


1010 : Ben